# Binaires compilés
*.exe
*.o
utilitaire/utilitaire

# Fichiers système
.DS_Store
Thumbs.db

# Données temporaires
data/*.tmp

# Node (si jamais tu en as besoin plus tard)
node_modules/

# Python
__pycache__/
*.pyc
